html {
    font-size: 62.5%
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    font-weight: 400;
}


ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}



